* {
  margin: 0;
  padding: 0;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code-editor-header h1{
  font-size: 14;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: left;
  width: 636px;
}

.console-container {
  height: 100px;
  width: 636px;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  
  box-sizing: border-box;
}